*{
    margin: 0px;;
}
.navbar li{
    list-style: none;
    float: left;
    margin: 13px 13px;
    font-family: 'Playfair Display', serif;
}
.navbar a{
    text-decoration: none;
    color: #e5e5e5;
    padding: 3px 40px ;
    display: block;
   
}
.navbar ul{
   overflow:hidden;
} 
.navbar
{
    background-color: #14213D;
    position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}
img{
    height: 40px;
    display: block;
    float: left;
    margin-left: 88px;
    margin-top: 6.2px;
}
footer{
    background-color:#14213D ;
    color:#e5e5e5 ;
}
.instagram
{
   padding-left:625px;
   padding-right: 625px;
   padding-bottom:20px;
   padding-top:0.25px;
   text-align: center;
}
p{
    margin-top: 80px;
}
.Copyright{
    padding-bottom: 10px;
    padding-left: 136px;
}

